//AvenirNextCyr-Thin

@font-face {
  font-family: 'AvenirNextCyr-Thin';
  src: url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot');
  src: url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNextCyr-Light

@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.eot');
  src: url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg'),
  url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNextCyr-Regular

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg'),
  url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNextCyr-Demi

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot');
  src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNextCyr-Medium

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot');
  src: url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg'),
  url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNextCyr-Bold

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg'),
  url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//SanelmaW00-Regular

@font-face {
  font-family: 'SanelmaW00-Regular';
  src: url('../fonts/SanelmaW00-Regular/Sanelma W00 Regular.eot');
  src: url('../fonts/SanelmaW00-Regular/Sanelma W00 Regular.woff2') format('woff2'),
  url('../fonts/SanelmaW00-Regular/Sanelma W00 Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanelmaW00-Regular';
  src: url('../fonts/SanelmaW00-Regular/SanelmaW00-Regular.woff') format('woff'),
  url('../fonts/SanelmaW00-Regular/SanelmaW00-Regular.ttf') format('truetype'),
  url('../fonts/SanelmaW00-Regular/SanelmaW00-Regular.svg#SanelmaW00-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import "http://fonts.fontstorage.com/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/


