//header

nav{

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 0 rgba(197, 197, 197, 0.1);
    border: 1px solid rgb(232, 232, 232);

    li{
      height: 78px;
      line-height: 78px;
      border-right: 1px solid rgb(232, 232, 232);
      text-align: center;
      background-color: transparent;
      @include transition(all .5s);

      &:hover{
        background-color: rgb(207, 40, 50);

        a{
          color: rgb(255, 255, 255);
        }
      }

      &:last-child{
        border-right:none;
      }

      a{
        display: block;
        color: rgb(37, 40, 45);
        font-family: $AvenirNextCyr-M;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 46px;
        cursor: pointer;
      }

    }


    .active{
      background-color: rgb(207, 40, 50);

      a{
        color: rgb(255, 255, 255);
      }
    }

    li.logo{
      padding: 0 15px;

      &.active{
        background-color: transparent;
      }

      &:hover{
        background-color: transparent;
      }
      a{
        display: inline-block;
        margin-top: 10px;
        @include sprite($logo);
      }
    }
  }
}

//top__slider

.top__slider{
  margin-top: 1px;
  position: relative;



  .slick-slide {
    outline: none;
  }


    .slick-dots {
    position: absolute;
    bottom: 45px;
    display: block;
    width: 100%;
    max-width: 530px;
    padding: 0;
    list-style: none;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    content: '';
    text-align: center;
    opacity: 1;
    border: 1px solid rgb(0, 0, 0);
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: rgb(37, 40, 45);
  }

  .item-1, .item-2, .item-3{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    min-height: 400px;


    .wrap{
      position: relative;
      width: 100%;
      max-width: 1260px;
      margin: 0 auto;
      height: auto;
      min-height: 400px;

      .left__group{
        position: absolute;
        top: 0;
        left: 0;
        width: 530px;
        height: 100%;
        min-height: 400px;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;

        h1{
          color: rgb(207, 40, 50);
          font-family: $SanelmaW00;
          font-size: 110px;
          font-weight: 400;
          margin: 0;
        }
        .line{
          max-width: 108px;
          width: 100%;
          height: 1px;
          background-color: rgb(37, 40, 45);
          margin: -15px auto 20px;
        }
        span{
          display: block;
          color: rgb(37, 40, 45);
          font-family: $AvenirNextCyr-M;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
        .descript{
          color: rgb(37, 40, 45);
          font-family: $AvenirNextCyr-L;
          font-size: 11px;
          font-weight: 300;
          line-height: 18px;
        }

      }

      .right__group{
        position: absolute;
        top: 60px;
        right: 0;
        width: 425px;
        height: 260px;
        border: 1px solid rgb(0, 0, 0);

        .frame{
          width: 389px;
          height: 219px;
          border: 3px dotted rgb(255, 255, 255);
          background-color: rgba(255, 255, 255, 0.4);

          .title{
            display: block;
            color: rgb(37, 40, 45);
            font-family: $AvenirNextCyr;
            font-size: 36px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
          }
          .descr{
            display: block;
            color: rgb(37, 40, 45);
            font-family: $AvenirNextCyr;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }

      }

      .d{
        display: block;
        position: absolute;
        right: 50px;
        bottom: 50px;
        color: rgb(37, 40, 45);
        font-family: $AvenirNextCyr-L;
        font-size: 11px;
        font-weight: 300;
        line-height: 18px;
        z-index: 10;
      }
    }
  }
  .item-1{
    background: url("../img/slider.png") 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .item-2{
    background: url("../img/slider-2.png") 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .item-3{
    background: url("../img/slider-3.png") 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

header .slick-slider {
  margin-bottom: 0;
}

//section_1

.section_1{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
  position: relative;
  padding: 50px 0;

  .container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .item{
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      @include transition(all .5s);

      img{
        margin-bottom: 15px;
      }

      .description{
        display: block;
        text-align: center;
        color: rgb(37, 40, 45);
        font-family: $AvenirNextCyr-L;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;

        .big__title{
          display: block;
          font-size: 18px;
          font-family: $AvenirNextCyr-M;
          font-weight: 500;
        }
      }

      &:before{
        content: '';
        position: absolute;
        opacity: 0;

        border: 15px solid transparent;
        border-top: 15px solid rgb(255, 255, 255);
        display: block;
        width: 0;
        height: 0;
      }


      .open{
        opacity: 0;
        max-width: 267px;
        width: 100%;
        height: 117px;
        background-color: rgb(255, 255, 255);
        top: 40%;

        span{
          color: rgb(37, 40, 45);
          font-family: $AvenirNextCyr-L;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;

          &:before{
            content: '';
            position: absolute;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: rgb(207, 40, 50);
          }
        }
      }

      &:hover .open{
        opacity: 1;
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }

    }

    .decor__el{
      position: absolute;
      top: 0;
      right: -105px;
      width: 121px;
      height: 427px;
      border-right: 1px solid rgb(37, 40, 45);
      border-bottom: 1px solid rgb(37, 40, 45);
    }

  }


}

//section_2

.section_2{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 650px;
  position: relative;
  padding: 50px 0;
  text-align: center;

  .section__image{
    display: inline-block;
    vertical-align: top;
    max-width: 500px;
    width: 100%;
  }

  .section__content{
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    width: 100%;

    .section{
      &__title{
        color: rgb(37, 40, 45);
        font-size: 36px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 80px;

        &:before{
          content: '';
          position: absolute;
          bottom: -40px;
          left: 0;
          right: 0;
          margin: auto;
          max-width: 85px;
          width: 100%;
          height: 1px;
          background-color: rgb(37, 40, 45);
        }
      }
      &__first{
        font-family: $AvenirNextCyr-L;
        font-weight: 300;
      }
      &__second{
        font-family: $AvenirNextCyr-M;
        font-weight: 500;
      }
    }

    .section__text{
      color: rgb(37, 40, 45);
      font-family: $AvenirNextCyr-L;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      text-align: center;
      width: 100%;
      max-width: 395px;
    }
  }

  .decor__el{
    position: absolute;
    bottom: -50px;
    left: 35%;
    border-bottom: 1px solid rgb(37, 40, 45);
    border-left: 1px solid rgb(37, 40, 45);
    width: 480px;
    height: 60px;
  }



}


//footer

.footer{
  width: 100%;
  max-width: 1920px;
  margin: -180px auto 0;
  height: 180px;
  background-color: rgb(25, 30, 33);
  position: relative;

  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -40px;
    margin-left: -15px;
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(25, 30, 33);
    display: block;
    width: 0;
    height: 0;
  }

  @include clearfix;

  &__left{
    float: left;
    padding-top: 65px;
  }
  &__copyright{
    display: block;
    font-family: $Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(166, 166, 166);
  }
  &__address{
    display: block;
    font-family: $Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(107, 106, 103);
  }

  &__right{
    float: right;
    padding-top: 60px;

    ul{
      li{
        display: block;
        color: rgb(166, 166, 166);
        font-family: $Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 15px;
        position: relative;

        .icon-mail{
          position: absolute;
          top: 0;
          left: -25px;
          display: inline-block;
          @include sprite($message);
        }
        .icon-phone{
          position: absolute;
          top: 0;
          left: -20px;
          display: inline-block;
          @include sprite($call);
        }

        a{
          color: rgb(166, 166, 166);
          font-family: $Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
        }
      }
    }
  }

}
