//Color

$base-color: rgb(136, 136, 136);

$stack-color: rgb(175, 70, 26);


//Font-size



//Font-Family


$Roboto: 'Roboto', sans-serif;

$AvenirNextCyr: 'AvenirNextCyr', sans-serif;

$AvenirNextCyr-L: 'AvenirNextCyr-Light', sans-serif;

$AvenirNextCyr-M: 'AvenirNextCyr-Medium', sans-serif;

$SanelmaW00: 'SanelmaW00-Regular', sans-serif;