<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <span class="footer__copyright">Onlunch 2017.© All rights reserved</span>
            <span class="footer__address">ООО «Старый свет» ТМ -  ON LUNCH, СПб, Транспортный переулок 15.</span>
        </div>
        <div class="footer__right">
            <ul>
                <li><span class="icon-mail"></span><a class="mail" href="mailto:info@onlunch.ru">info@onlunch.ru</a></li>
                <li><span class="icon-phone"></span>+7 9213889870<br>+7 9118196383</li>
            </ul>
        </div>
    </div>
</footer>



