<header>
    <div class="container">
        <nav>
            <ul>
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Организация питания</a></li>
                <li><a href="#">Комплексные обеды</a></li>
                <li class="logo"><a href="index.html"><span class="logo-icon"></span></a></li>
                <li><a href="#">кейтеринг</a></li>
                <li><a href="#">о компании</a></li>
                <li><a href="#">контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="top__slider">
        <div class="item-1">
            <div class="wrap">
                <div class="left__group">
                    <h1>On lunch</h1>
                    <div class="line"></div>
                    <span>Организация питания на предприятии<br>и кейтеринга в Санкт-Петербурге</span>
                    <a href="#" class="btn">Проконсультироваться</a>
                    <div class="descript">*Консультация бесплатнaя</div>
                </div>
                <div class="right__group">
                    <div class="frame transform-x-y">
                        <span class="title transform-x-y">накормим <span class="descr">ваших сотрудников бесплатно!*</span></span>
                    </div>
                </div>
                <span class="d">*В период с 23 февраля по 10 марта условия акции такие-то.</span>
            </div>
        </div>
        <div class="item-2">
            <div class="wrap">
                <div class="left__group">
                    <h1>On lunch</h1>
                    <div class="line"></div>
                    <span>Организация питания на предприятии<br>и кейтеринга в Санкт-Петербурге</span>
                    <a href="#" class="btn">Проконсультироваться</a>
                    <div class="descript">*Консультация бесплатнaя</div>
                </div>
                <div class="right__group">
                    <div class="frame transform-x-y">
                        <span class="title transform-x-y">накормим <span class="descr">ваших сотрудников бесплатно!*</span></span>
                    </div>
                </div>
                <span class="d">*В период с 23 февраля по 10 марта условия акции такие-то.</span>
            </div>
        </div>
        <div class="item-3">
            <div class="wrap">
                <div class="left__group">
                    <h1>On lunch</h1>
                    <div class="line"></div>
                    <span>Организация питания на предприятии<br>и кейтеринга в Санкт-Петербурге</span>
                    <a href="#" class="btn">Проконсультироваться</a>
                    <div class="descript">*Консультация бесплатнaя</div>
                </div>
                <div class="right__group">
                    <div class="frame transform-x-y">
                        <span class="title transform-x-y">накормим <span class="descr">ваших сотрудников бесплатно!*</span></span>
                    </div>
                </div>
                <span class="d">*В период с 23 февраля по 10 марта условия акции такие-то.</span>
            </div>
        </div>
    </div>
</header>